* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: "MondayFeelings";
    src: url("../fonts/MondayFeelings-7BD2l.ttf") format("truetype");
  }
  @font-face {
    font-family: "SuperFoods";
    src: url("../fonts/SuperFoods-2OxXo.ttf") format("truetype");
  }
 
/* ================================
   Variables globales
================================ */
:root {
    --default-font: "Gill Sans Extrabold", Helvetica, sans-serif;
    --heading-font: "MondayFeelings", serif;
    --nav-font: "SuperFoods", sans-serif;

    /* Colores */
    --heading-color: #a75ce4;
    --background-color: #936d9d;
    --default-color: #795d7a;
    --color-primario: #007BFF;
    --color-primario-hover: #b707c1;
    --color-eliminar: #e5717d;
    --color-eliminar-hover: #db3e4e;
    --color-guardar: #28a745;
    --color-guardar-hover: #1e7e34;
    --color-actualizar: hwb(38 2% 0%);
    --color-actualizar-hover: hsl(42, 94%, 40%);
    
    /* Otros */
    --color-texto: #ffffff;
    --borde-radio: 5px;
    --transicion: 0.3s ease;
}
  
/* ================================
   Estilo Global
================================ */
body {
    max-width: 700px;
}
.container-general{
    width: 100%;
    height: auto;
    position: absolute;
    text-align: left;
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}
/* ================================
   Header
================================ */
header {
    top: 0px;
    position: fixed;
    width: 76%;
    height: 8%;
    display: block;
    align-content: center;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 0  40px;
    z-index: 10;
}

.navmenu {
    align-content: space-between;
}

.navmenu a {
    font-family: var(--nav-font);
    font-size: 16px;
    text-decoration: none;
    color: var(--default-color);
    margin-right: 15px;
    transition: color var(--transicion);
}

.navmenu a:hover {
    color: var(--color-primario-hover);
}

/* ================================
   main
================================ */
.contenedor-main{
    top: 0px;
    position: relative;
    width: 100%;
    height: 100%;
}

main {
    float: left;
}

/* ================================
   Section
================================ */
section {
    flex: 5;
    padding: 10px 40px;
    background-color: #f9f9f9;
    width: 78%;
    height: auto;
    border-radius: 5px;
}

section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================================
   Aside
================================ */
aside {
    position: fixed;
    float: left;
    right: 0%;
    width: 23%;
    height: 100vh;
    background-color: burlywood;
    padding: 5px 8px;
    border-radius: 5px;
    z-index: 10;
}
.social-links a {
    margin-right: 10px;
    color: var(--default-color);
}
aside.social-links {
    display: flex;
    justify-content: space-between;
}
ul li {
    font: italic small sans-serif;
    list-style-type: none;
  }
/* ================================
   Footer
================================ */
footer {
    bottom: 0px;
    position: fixed;
    width: 76%;
    height: 8%;
    text-align: center;
    background-color: cornsilk;
    border-radius: 5px;
    z-index: 10;
}

/* ================================
   Formulario Contacto
================================ */
.contact-section {
    background-color: rgb(243, 232, 250);
  }

.contenedor-form {
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 10px 0;
    padding: 1%;
    margin-bottom: 5%;
}

.form-table {
    width: 100%;
    border-spacing: 10px;
}
/* Estilos generales de la tabla */
.tabla th {
    font-size: 18px;
    font-family: monospace;
    background-color: burlywood;
    padding: 1px;
}

.tabla td {
    font-size: 14px;
    font-family: cursive;
    border: 1px solid #cdcdcd;
    text-align: center;
}
/* Estilos generales de formulario */
form.form-registro {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-control {
    margin-bottom: 5px;
}

/* Estilo general para labels */
label {
    color: #0692a2;
    text-align: left;
    font-style: italic;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}

/* Estilo general para inputs y select */
input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #999898;
    border-radius: 4px;
}

/* Estilo general para botones */
.btn {
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 8px 15px;
    border: none;
    border-radius: var(--borde-radio);
    cursor: pointer;
    margin-right: 5px;
    transition: background-color var(--transicion);
}

/* Efecto hover general */
.btn:hover {
    background-color: var(--color-primario-hover);
}

/* ================================
   Estilos generales otros
================================ */
h1,
h2,
h3 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

/* Estilo general para etiqueta a */
a {
    text-decoration: none;
}

/* Efecto link general */
a:link {
    color: blue;
    /* Color para los enlaces no visitados */
}

a:visited {
    color: purple;
    /* Color para los enlaces visitados */
}

a:hover {
    color: red;
    /* Color al pasar el mouse por encima */
}

a:active {
    color: rgb(2, 128, 57);
    /* Color cuando el enlace está activo (clic) */
}

/* Estilo general para etiqueta p */
p {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium';
}

  /* Cambiar el color y fondo al pasar el mouse */
  label:hover {
    color: rgb(117, 63, 187);
    /* Color del texto al pasar */
  }
  input:focus {
    background-color: rgb(233, 218, 252);
    border-color: rgb(117, 63, 187);
    outline: none;
  }

  .form-botones {
    text-align: center;
    margin-top: 20px;
  }
  /* Estilo específico para botón "Actualizar" */
  .btn-submit {
    padding: 3% 15%;
    background-color: var(--color-guardar);
  }
  .btn-submit:hover {
    background-color: var(--color-guardar-hover);
    color: rgb(255, 242, 128);
  }
  textarea {
    border-radius: 5px;
    border: 2px solid rgb(168, 166, 166);
  }
  textarea:focus {
    background-color: rgb(233, 218, 252);
    border-radius: 5px;
    border: 2px solid rgb(117, 63, 187);
    outline: none;
  }

  /* Cambiar el tamaño del párrafo al pasar el cursor */
  p:hover {
    transform: scale(1.1);
    /* Aumentar el tamaño al 110% */
    transition: transform 0.3s ease-in-out;
    /* Suavizar la animación */
    text-align: left;
  }

  /* valores por defecto del párrafo último cuando el mouse pasa sobre el */
  footer p:hover {
    transform: none;
    text-align: center;
  }

  /* Cambio el estilo de la primera letra en los párrafos pares */
  p:nth-of-type(2n + 1)::first-letter {
    font: bold italic large serif;
    color: #b451fb;
  }

  /* Cambiar el color del tercer párrafo */
  p:nth-of-type(2) {
    color: rgb(89, 48, 143);
  }

